{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card rounded-3 p-4 mt-5 form-card shadow text-center">
            {% if token_fail %}
                <h1 class="mb-4 h2">{% trans "Bad Token" %}</h1>
                <p class="medium mb-3">
                    {% blocktrans %}
                    The password reset link was invalid, possibly because it has already been used.
                {% endblocktrans %}
                </p>
                <p>
                    <a href="{% url 'account_reset_password' %}" class="form-links">{% trans "Request a new password reset" %}</a>
                </p>
                <p class="mt-4">
                    <a href="{% url 'account_login' %}" class="form-links">← {% trans "Back to Sign In" %}</a>
                </p>
            {% else %}
                <h1 class="mb-4 h2">{% trans "Change Password" %}</h1>
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    {{ form|crispy }}
                    <button class="btn btn-custom w-100 py-2 hover-lift mt-2">
                        {% trans "Change Password" %}
                        <i class="fa-solid fa-key ms-1"></i>
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}
