{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card rounded-3 p-4 mt-5 form-card shadow">
            <h1 class="text-center mb-4 h2">{% trans "Change Password" %}</h1>
            <form method="POST" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ redirect_field }}
                {{ form|crispy }}
                <button class="btn btn-primary w-100 py-2 hover-lift mt-2">
                    {% trans "Change Password" %}
                    <i class="fa-solid fa-key ms-1"></i>
                </button>
            </form>
            <p class="text-center mt-3">
                <a href="{% url 'account_reset_password' %}" class="form-links">{% trans "Forgot your password?" %}</a>
            </p>
        </div>
    </div>
{% endblock content %}
