{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="card rounded-3 p-4 mt-3 form-card">
      <h1 class="text-center mb-4 h2">{% trans "Sign Up" %}</h1>
      <form class="signup"
            id="signup_form"
            method="post"
            action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
          <input type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary w-100 py-2 hover-lift">
            {% trans "Sign Up" %}
            <i class="fa-solid fa-user-plus fa-sm ms-1"></i>
        </button>
      </form>
      <p class="text-center medium mt-4">
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="form-links">sign in</a>.{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock content %}
