/* Service Images */
.sm-service-image {
    max-width: 60px;
    height: auto;
}

/* Hover styling */
.hover-lift {
    transition: transform 0.2s ease;
}

.hover-lift:hover {
    transform: translateY(-2px);
}

.hover-bg:hover {
    background-color: #f8f9fa; /* light gray */
}