{% load crispy_forms_tags %}

<!-- Bootstrap Modal for adding services -->
<div class="modal fade"
     data-bs-theme="dark"
     id="addServiceModal"
     role="dialog"
     tabindex="-1"
     aria-labelledby="addServiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post"
                  action="{% url 'add_service' %}"
                  id="serviceForm"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h2 class="modal-title h5" id="addServiceModalLabel">Add Service</h2>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ service_form | crispy }}
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="addSubmitButton" type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
