{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Page title -->
        <div class="row p-4 mb-4">
            <div class="col-12 text-center">
                <h1 class="display-5">Our Services</h1>
                <p class="text-muted">something about our services...</p>
            </div>
        </div>
        {% if request.user.is_superuser %}
            <!-- Home and create new logs button -->
            <div class="row pb-4">
                <div class="col-12 text-end">
                    <button class="btn btn-outline-success fw-semibold shadow-sm hover-lift"
                            data-bs-toggle="modal"
                            data-bs-target="#addServiceModal">
                        Add New Service
                        <i class="fa-solid fa-circle-plus ms-2"></i>
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="row g-4">
            <!-- Service cards -->
            {% for service in services %}
                <div class="col-12 col-md-6">
                    <div class="card h-100 shadow-sm hover-lift hover-bg">
                        <div class="card-body d-flex flex-column">
                            <h2 class="card-title mb-1 h5">{{ service.name }}</h2>
                            <small class="text-muted">{{ service.duration }} mins</small>
                            <p class="card-text text-muted mb-2">{{ service.description|striptags|truncatechars:50 }}</p>
                            <p class="fw-semibold mb-2">£{{ service.price }}</p>
                            <div class="mt-auto align-self-end">
                                <a href="{% url 'service_detail' service.id %}"
                                   class="btn btn-primary btn-sm stretched-link">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if request.user.is_superuser %}
        {% include 'services/add-service-modal.html' %}
    {% endif %}
{% endblock %}